<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hopsticks | Verify your account</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
  <style>
    .center-div {
      margin: 0 auto;
      width: 100px;
    }

  </style>
</head>

<body>
  <div class="body-container" style="width: 100%;float: left;">
    <div class="email-template-container" style="width: 400px;padding: 20px;height: 500px;margin: 50px auto; background: linear-gradient(90deg, #f7f7f7 20px, transparent 1%) center, linear-gradient(#f7f7f7 20px, transparent 1%) center, #e0e0e0; background-size: 22px 22px;font-family: 'Montserrat', sans-serif;">
      <div class="main-logo" style="width: 100%;float: left;text-align: center;margin: 25px 0;margin-top: 50px;">
        <img src="http://localhost:1337/images/logo.png" alt="Logo" style="width: 150px;">
      </div>
      <h2 style="width: 100%;float: left;text-align: center;color: #eb1c23;margin-bottom: 0;font-size: 25px;">Verify your account</h2>
      <h3 style="width: 100%;float: left;color: #5f5e5e;text-align: center;margin-bottom: 0;font-size: 20px;line-height: 30px;">Welcome
        <span style="color: #eb1c23;margin-left: 5px;">
          <%=recipientName%>
        </span>
      </h3>
      <p style="width: 100%;float: left;color: #272727;text-align: center;font-size: 16px;margin-top: 0;line-height: 25px;">

      </p>
      <div class="footer" style="width: 100%;float: left;text-align: center;line-height: 20px;margin-top: 20px;">
        <span style="width: 100%;float: left;">Thanks</span>
        <a href="http://localhost:1337" style="width: 100%;float: left;text-decoration: none">Hopsticks</a>
      </div>

      <div class="center-div">

      </div>
    </div>
  </div>
</body>

</html>
