<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

<div class="default-page">
    <div class="header">
        <h1 id="main-title" class="container"><%= __('Something went wrong') %></h1>
    </div>
    <div class="main container clearfix">
        <h3 class="container">Error Message: <%= message %></h3>
        
    </div>
</div>
